<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/"><%= image_tag("/assets/rubylang.png",  alt: "like", class: "like_image_for_index") %></a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/" role="button">
    Home
    </a>
  </form>
</nav>
<h1>Liste des livres</h1>
<br>
<h2><%= Book.count %> Livres au total</h2>
<br>
<div class="container text-center">
  <% @books.each do |book| %>
    <p>
      <a href="/books/<%= book.id %>">
        
          <%= book.title %>
        
      </a>
    </p>
  <% end %>
  <%= render "books/form" %>
 

