<!DOCTYPE html>
<html>
  <head>
    <title>BETABOOKS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="/"><%= image_tag("/assets/rubylang.png",  alt: "like", class: "like_image_for_index") %></a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/" role="button">
    Home
    </a>
  </form>
</nav>

  <div><%= flash[:success] %></div>
    <%= yield %>
  </body>
</html>
